.Cards {
    padding: 1rem;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax( min(100%, 15rem), 1fr));
}
